body{
    background-color: #ff0037;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.profile-container {
    border-radius: 15px;
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.profile-header {
    background-color: #ff0037;
    color: #fff;
    padding: 10px;
    text-align: center;
}

.profile-info {
    padding: 20px;
}

.profile-info label {
    display: block;
    margin-bottom: 10px;
}

.profile-info input[type="text"], .profile-info input[type="email"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
}

.profile-info button[type="submit"] {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.profile-info button[type="submit"]:hover {
    background-color: #3e8e41;
}